.list-header {
    display: sticky;
    justify-content: space-between;
    /* align-items: center; */
}

.list-header h1 {
    font-size: 25px;
    font-weight: 600;
    text-wrap: nowrap;
    text-align: center;
    color: #454545;
    margin-bottom: 2rem;
}

.container h1 {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}

.btn {
    display: flex;
    justify-content: center;
    white-space: nowrap;
}

.btn button {
    background-color: #6CE5E8;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 600;
    padding: 0.3rem 1.5rem;
    text-align: center;
    cursor: pointer;

}

.btn button:active {
    background-color: #4aacad;
}

.tags-filter nav {
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 3rem;
}

.tags-filter nav::-webkit-scrollbar {
    height: 4px;
    background-color: #dedede;
    border-radius: 6px;
}

.tags-filter nav::-webkit-scrollbar-thumb {
    background-color: #7B7979;
    border-radius: 6px;
}

.tags-filter ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    gap: 0.5rem;
}

.tags-filter button {
    background-color: transparent;
    color: #188487;
    border: 2px solid #188487;
    border-radius: 25px;
    font-size: 12px;
    font-weight: 600;
    padding: 0.2rem 0.8rem;
    text-align: center;
    cursor: pointer;
}

.tags-filter button:hover {
    background-color: #4aacad;
}

.tags-filter button:disabled {
    background-color: #188487;
    color: #ffffff;
}

.activity-list {
    background-color: #ffffff;
    border: none;
    border-radius: 15px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin: 1.5rem 0.5rem;
    height: 8rem;
}

#joined p {
    font-size: 10px;
    font-style: italic;
    text-align: center;
}

#current {
    background-color: #ffffff;
    border: 5px solid #6CE5E8;
}

#joined :hover {
    background-color: #F3F5F9;
}

#joinStatus {
    float: right;
    color: #6CE5E8;
    font-size: 20px;
    margin-top: 1.2rem;
}

.activity-list h1 {
    float: right;
    font-size: 24px;
    font-weight: 600;
    color: #7B7979;
    margin: 0.2rem 0.2rem;
}

.activity-list h2 {
    font-size: 16px;
    font-weight: 600;
    color: #454545;
    margin: 0.2rem 0.2rem;
}

.activity-list h3 {
    font-size: 14px;
    font-weight: 500;
    color: #7B7979;
    margin: 0 0.2rem;
}

.activity-list .tags {
    display: inline-block;
    justify-content: center;
    margin: 0.5rem 0;
    background-color: #188487;
    color: #ffffff;
    border: transparent;
    padding: 0.3rem 0.6rem;
    border-radius: 20px;
    font-size: 8px;
    cursor: pointer;
    width: fit-content;
    font-size: 12px;
}

.activity-list .location {
    float: right;
    flex-wrap: wrap;
    font-size: 14px;
    margin: 0.5rem 0;
    color: #7B7979;
}

.btn-join button {
    display: flex;
    justify-content: center;
    white-space: nowrap;
    background-color: #6CE5E8;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 600;
    padding: 0.3rem 1.5rem;
    text-align: center;
    cursor: pointer;
    margin: 1rem 0 0.5rem 0;
}

.btn-join button:active {
    background-color: #4aacad;
}

.btn-join button:disabled {
    background-color: #454545;
}

.bottom-text {
    font-size: 14px;
    text-align: center;
}

.bottom-text button {
    border: 2px solid #6CE5E8;
    border-radius: 30px;
    padding: 0.5rem 1rem;
    font-size: 14px;
    font-weight: 600;
    color: #188487;
    cursor: pointer;
}

.bottom-text button:hover {
    background-color: #6CE5E8;
    color: #ffffff;
}